<app-product-search></app-product-search>
<div *ngIf="loading else loaded">
    <div class="spinner-border" role="status" style="margin: 200px 600px;">
        <span class="sr-only">Loading...</span>
      </div>
</div>
<ng-template #loaded>
    <div class="row mt-4" >
        <div class="col-4 mt-4" *ngFor="let product of products">
        <div class="card" >
        <img [src]="product.imageUrl" class="card-img-top" alt="Simple product">
        <div class="card-body">
        <h5 class="card-title">{{product.title}}</h5>
        <p class="card-text">{{product.description}}</p>
        <h5 class="price">Price : ${{product.price}}</h5>
        <a href="#" class="btn btn-primary">Add to cart</a>
        <a [routerLink]="['product',product.id]" class="btn btn-primary ml-2">View Details</a>
        <button class="btn btn-danger ml-2" (click)="productDelete(product.id)">Delete</button>
        </div>
        </div>
        </div>
        
    </div>
</ng-template>
