
<form class="formgroup" [formGroup]="addproductformgroup" style="margin-left: 50px;">
    <div class="row mb-3">
      <label for="title" class="col-sm-2 col-form-label">Title</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="title" formControlName="title">
      </div>
    </div>
   
    <div class="row mb-3">
      <label for="imageurl" class="col-sm-2 col-form-label">ImageUrl</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="imageurl" formControlName="imageurl">
      </div>
    </div>
    <div class="row mb-3">
        <label for="price" class="col-sm-2 col-form-label">Price(in $)</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="price" formControlName="price">
        </div>
      </div>
    <div class="row mb-3">
        <label for="description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <textarea cols="100" rows="5" id="description" formControlName="description"></textarea>
        </div>
      </div>
    <button type="submit" routerLink="/newProductadded" class="btn btn-primary" (click)="addProduct()" routerLink="newProductadded" [disabled]="!addproductformgroup.valid">Add Product</button>
  </form>